<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a senior Java developer who is passionate about learning and utilizing open source frameworks and technologies in my development.<br/><br/>
			Most of my career has been enterprise software development for large financial instritutions.
		</div>
		<br>
	</div>
</div>
